<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <h4 class="title is-4"><span style="color: #00c4a7"><i class="fa-solid fa-leaf"></i>&nbsp;&nbsp;Mint</span> Local</h4>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                <i class="fa-solid fa-house"></i>&nbsp;&nbsp;Home
            </a>

            <a class="navbar-item" href="/transactions">
                <i class="fa-solid fa-list"></i>&nbsp;&nbsp;Transactions
            </a>

            <a class="navbar-item" href="/trends">
                <i class="fa-solid fa-arrow-trend-up"></i>&nbsp;&nbsp;Trends
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    <i class="fa-solid fa-gear"></i>&nbsp;&nbsp;Settings
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/settings/db">
                        <i class="fa-solid fa-database"></i>&nbsp;&nbsp;Database
                    </a>
                    <a class="navbar-item" href="/settings/bank">
                        <i class="fa-solid fa-building-columns"></i>&nbsp;&nbsp;Bank Connections
                    </a>
                    <a class="navbar-item" href="/settings/migrate">
                        <i class="fa-solid fa-cloud-arrow-down"></i>&nbsp;&nbsp;Migrate Transactions
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Report an issue
                    </a>
                </div>
            </div>

        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href="/transactions/new">
                        <strong><i class="fa-solid fa-plus"></i>&nbsp;&nbsp;New Transaction</strong>
                    </a>
                    <a class="button is-danger">
                        Log Out
                    </a>
                </div>
            </div>
        </div>


    </div>
</nav>